##Introduction

###If we increase the no.of hastags then the font size will decrease and vice versa

In [1]:
# This is Comment
# There are two types of comments in python
#    1. Single Line Comment
#    2. Multi Line Comment

In [4]:
# To Print something in Python

'''
This is a python print function
Print is a keyword in python
print should have
'''



print ("Course")
print ("Hello World")

print ('Hello World')

Course
Hello World

In [23]:
# Variable means that tends to change
a = 3 #means that assigning a value 3 to variable "a"
Name = "Brand"
Age = 32
print (Name)
print (Age)

Brand
32

In [15]:
Tata_Steel = 32300
Adani_Enterprises = 18226
Bharti_Airtel = 79800

print (f"The Capex Plans in FY23 and FY24 of Tata Steel is {Tata_Steel}; Adani Enterprises is {Adani_Enterprises} and Bharti Airtel is {Bharti_Airtel}")

The Capex Plans in FY23 and FY24 of Tata Steel is (32, 300); Adani Enterprises is (18, 226) and Bharti Airtel is (79, 800)

In [ ]:
# Here "f" is f-string and it lets us use palceholder expressions to display strings

In [17]:
Tata_Steel = 32300
Adani_Enterprises = 18226
Bharti_Airtel = 79800

print (f"The Capex Plans in FY23 and FY24 of Tata Steel is {Tata_Steel}; Adani Enterprises is {Adani_Enterprises} and Bharti Airtel is {Bharti_Airtel}")

The Capex Plans in FY23 and FY24 of Tata Steel is 32300; Adani Enterprises is 18226 and Bharti Airtel is 79800

In [24]:
# If we want to print x,y,z same values

x = y = z = "Brand"

print(x)
print(y)
print(z)

Brand
Brand
Brand