In [1]:
x = "Mobile Skin Printing"
print (x)

Mobile Skin Printing

In [2]:
x = "Mobile"
y = "Skin"
z = "Printing"

print (x,y,z)

Mobile Skin Printing

In [4]:
print (x+y+z) # Here we will get output without space between words

MobileSkinPrinting

In [6]:
print (x+' '+y+' '+z+' ') # here, this is other way to get output with space between the words

Mobile Skin Printing

In [7]:
x = 25
y = 30

print (x+y)
print (x-y)
print (x*y)
print (x/y)

55
-5
750
0.8333333333333334

In [8]:
x = 10
y = "Brand"

print (x+y)  #Here it is invalid because there is integer and string. We cannot add integer and string

TypeError: ignored

In [9]:
'''
1. Scope of a variable
2. Local Scope of a variable

'''


# Functions : functions always start with a keyword called def. After def we have to place name of method(name can be anything)

def summation(a,b):  #Here a,b are called as Arguments
  sum = a+b #.. here space of two dots is called as indentation( Indentation means it tells that whatever is under this function comes under this function(under def summation:))
  return sum  #return is a keyword that sends the output back


summation(5,6)

11

In [3]:
def multiplication(x,y):
  product = x*y
  return product

multiplication(4,2)
multiplication(5,10)

50

In [5]:
def subtraction(e,f):
  Difference = e-f
  return Difference
subtraction(50,28)

22

In [8]:
def Division(z,w):
  divide = z/w
  return divide
Division(4,2)

2.0

In [10]:
name = "Brave"

def printname(name): # variables that we define or overwrite within a function stays within the function only
  print (f"The most secure {name} is")

printname("browser")
print (name)

The most secure browser is
Brave

In [3]:
x = 2 # This x that is defined here is called as Global Variable ( The variables that are declared outside the function are called global variables. These variables can be accessed or invoked by any function in the program.)
print (f"Position 1. {x}")
def summation(x,y):
  print (f"Position 2. {x}")
  print (f"Position  3. {x}")
  return x

print (summation(x,10))
print (f"Position  4. {x}")

Position 1. 2
Position 2. 2
Position  3. 2
2
Position  4. 2

In [4]:
x = 2 # This x that is defined here is called as Global Variable ( The variables that are declared outside the function are called global variables. These variables can be accessed or invoked by any function in the program.)
print (f"Position 1. {x}")
def summation(x,y):
  print (f"Position 2. {x}")
  z = 25
  x = 40
  print (f"Position  3. {x}")
  sum = x+y+z
  return sum

print (summation(x,10))
print (f"Position  4. {x}")

Position 1. 2
Position 2. 2
Position  3. 40
75
Position  4. 2

In [2]:
# Questions

'''
1. In Python, a variable must be declared before it is assigned a value?
  A: False
      Declarations means telling its datatype but in Python there's no need of declaration to variable. We can give any value.

2. Write a Python code to assign a value 100 to a variable and add it with 20?
  A: x = 100
     print ( x + 20)

     Output: 120
3. In Python, a variable may be assigned a value of one type, and then
later assigned a value of a different type:
   A: True

4. a. route66
   b. home_address
   c. ver1.3 (Invalid)
   d. Age
   e. 4square
   f. return (Invalid)

5. a. x,y,z = 10,20,30
   b. x,y,z = 10,'Hello',True
   c. x = 10, y = 'Hello', z = True

6. x = 10
   y = 20
   x,y = y,x
   print(x,y)

   A: Output : 20, 10

SyntaxError: ignored

In [2]:
## Datatypes
'''
Text : str
Numeric : int,float
Sequence : lists,tuple,Range
Mapping : Dictionaries
Boolean Datatypes : True, False
'''

# To check the type of variable, we have keyword called type

x = "Brand"
type(x)

str

In [7]:
x = 80
y = 4.567
z = "23"
print (type(x))
print (type(y))
print (type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
x,y = True, False

print (type(x))
print (type(y))

<class 'bool'>
<class 'bool'>

In [12]:
# To Convert one datatype to other datatype we use typecasting
x = 6
y = 12.65
z = "23"

int(y)

12

In [13]:
x = 6
y = 12.65
z = "23"

print (int(y))
print (float(z))

12
23.0

In [18]:
x = 6
y = 12.65
z = "23"

y = int(y)
y = float(y)
str(y)

'12.0'

In [19]:
'''
Write a code that Declares 3 variables which are numbers as strings with values 2,3,4 and write a function that
converts these to integers and find the product?
'''

'\nWrite a code that Declares 3 variables which are numbers as strings with values 2,3,4 and write a function that \nconverts these to integers and find the product?\n'

In [22]:
x = "2"
y = "3"
z = "4"

def sum(x,y,z):
  x = int(x)
  y = int(y)
  z = int(z)
  prod = x*y*z
  return prod

print (sum(x,y,z))

24

In [9]:
# Indexing: To access the element in a word
# Indexing is always is in [] square bracket
# In entire Python positioning always starts from 0

x = "apple"

x[0]

'a'

In [10]:
'''
word : apple

There are two types of indexing in python

1. Positive Indexing : a - 0, p - 1, p - 2, l - 3, e - 4
2. Negative Indexing : e - -1, l - -2,p - -3, p - -4, a - -5
'''

print (x[0])
print (x[-5])

a
a

In [12]:
print (x[1])
print (x[-2])

p
l

In [14]:
x = "orange"

x[0 : 3] #startposition : endposition+1  (if we give [0 : 2] python thinks that it is upto 2, not till 2)

'''
o - 0 , -6
r - 1 , -5
a - 2 , -4
n - 3 , -3
g - 4 , -2
e - 5 , -1
'''

'ora'

In [15]:
x[-4 : -1]

'ang'