##Tuples

In [ ]:
'''
---> Tuples are same as list but tuples are declared in normal paranthesis
---> We cannot change elements in the tuples (Immutable).
---> Tuples can also have duplicate values.
'''

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
len(thistuple)

5

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
type(thistuple)

tuple

In [ ]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")

In [16]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
thistuple[0]

'apple'

In [3]:
thistuple[-1]

'cherry'

In [4]:
thistuple[1:]

('banana', 'cherry', 'apple', 'cherry')

In [5]:
'apple' in thistuple

True

In [6]:
if 'apple' in thistuple:
  print('present')

present

In [7]:
thistuple

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [8]:
thistuple.append('orange')  # 'tuple' object has no attribute 'append'

AttributeError: ignored

In [10]:
l1 = list(thistuple)
l1.append('orange')
thistuple = tuple(l1)
print (thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry', 'orange', 'orange')

In [11]:
for i in thistuple:
  print(i)

apple
banana
cherry
apple
cherry
orange
orange

In [13]:
thistuple.remove("orange") # 'tuple' object has no attribute 'remove'

AttributeError: ignored

##Sets

In [ ]:
'''
Sets are declared in curly brackets

Properties if Sets are:
--> Sets are unordered
--> They are unchangable
--> These are unindexed
--> Sets will repeated values and it keeps the one only that are unique
'''

In [15]:
myset = {"apple", "banana", "cherry"}
print (myset)

{'apple', 'banana', 'cherry'}

In [16]:
myset[0]

TypeError: ignored

In [17]:
thisset = {"apple", "banana", "cherry", "apple"} #sets keeps only unique values and removes duplicates.
print(thisset)                                   # They are unordered ({'apple', 'banana', 'cherry'}).

{'apple', 'banana', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry", True, 1, 2} #sets assume that True is same as 1
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [19]:
len(thisset)

5

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

In [21]:
set1 = {"apple", "banana", "cherry"}
for i in set1:
  print(i)

apple
banana
cherry

In [1]:
set1 = {"apple", "banana", "cherry"}
for i in range(0,len(set1)):   # We can't use range because sets cannot be indexed
  print(set1[i])

TypeError: ignored

In [4]:
set1 = {"apple", "banana", "cherry"}
set1.add("orange") # In sets we don't have append thats why we use add method to add elements
print (set1)

{'cherry', 'apple', 'orange', 'banana'}

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.union(set2) #two append or combine two sets you can use union

In [7]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'c', 'b'}

In [6]:
set1

{1, 2, 3, 'a', 'b', 'c'}

In [8]:
"a" in set1

True

In [9]:
if "a" in set1:
  print('present')

present

In [10]:
set1 = {'green', 'blue'}
set2 = {'yellow', 'blue'}
set1.difference(set2)

{'green'}

In [11]:
set1 = {23,54,76,34,234,6563,573,25235,4632,34634,2355}
max(set1)

34634

In [12]:
min(set1)

23

In [13]:
set1 + set2

TypeError: ignored

In [14]:
set1 = {"a", "b" , "c"}   # To get comon number
set2 = {"a", "d", "e"}

l1 = []
for i in set1:
  for j in set2:
    if (i == j):
      l1.append(i)
set1.intersection(set2)

{'a'}

In [15]:
a = [1,2,3,7,2,1,5,6,4,8,5,4]

set(a)

{1, 2, 3, 4, 5, 6, 7, 8}