In [3]:
#To Convert string into Upper Case

x = "Hyderabad"
x=x.upper()
print(x)

HYDERABAD

In [4]:
#To Convert string into Lower Case

a = "FORECASTING"
a.lower()

'forecasting'

In [5]:
x = "I want to buy a bike"

#Objective here is to replace bike with car

x.replace("bike","car")

'I want to buy a car'

In [6]:
#To Split the sentence into words

a = "Jio AirFiber to launch on September"
a.split(" ")

['Jio', 'AirFiber', 'to', 'launch', 'on', 'September']

In [7]:
#Concatenate two strings
a = "Weather"
b = "Forecasting"

a+" "+b

'Weather Forecasting'

##Operators

In [6]:
x = 10
y = 5
z = x > y
print (int(z))

1

In [7]:
x == y # '=' means assignment operator, '==' means comparison operator

False

In [8]:
x < y

False

In [9]:
x != y

True

In [10]:
'''
1. python code to declare two variable as 200, 33 and use ifelse to print which is grateer than t
the other
2. Python code to declare two variables as "Hello" and 15 and type cast it to boolean
'''

In [13]:
#1.
a = 200
b = 33

if (a>b):
  print(a)
else:
  print(b)

200

In [15]:
#2.
a = "Hello"  #Here we have to convert to boolean
b = 15
print(bool(a))
print(bool(b))

True
True

In [ ]:
'''
1. Write a python code to declare 45 and check if divisible by both 5 and 9.

'''

In [2]:
#1.
a = 45
print (45 % 5) # "%" always returns remainder

#But the question is we want to check if both 5 and 9 are divisible

'''
OR
A B Output
0 0   0
0 1   1
1 0   1
1 1   1

AND
A B Output
0 0   0
0 1   0
1 0   0
1 1   1
'''
((a % 5) ==0) and ((a % 9) ==0)

0

True

In [4]:
a = 45
print (a % 5)
print (a % 9)
((a % 5) ==0) and ((a % 9) ==0)
((a % 5) ==0) or ((a % 9) ==0)

0
0

True

In [5]:
a = 45
print (a % 5)
print (a % 9)
((a % 5) ==0) or ((a % 9) ==0)

0
0

True

In [ ]:
'''
1. Python code to declare a string "Cats come from tiger family"

a. check if Tiger is in sentence
b. convet to upper case
c. convert to lower case
d. split at white spaces
e. you have to check if cats and tiger are present in the sentence print True
f. extract from position 5 to 9 with both negative and positive indexings
g. use for loop to print characters in the string.
h. length of the string
'''

In [13]:
#a.
x = "Cats come from tiger family"
print("Tiger" in x)

False

In [14]:
#b.
x = "Cats come from tiger family"
x.upper()

'CATS COME FROM TIGER FAMILY'

In [15]:
#c.
x = "Cats come from tiger family"
x.lower()

'cats come from tiger family'

In [16]:
#d.
x = "Cats come from tiger family"
x.split(" ")

['Cats', 'come', 'from', 'tiger', 'family']

In [22]:
#e.
x = "Cats come from tiger family"

if ("cats" in x) and ("tiger" in x):
  print (True)
else:
  print (False)

False

In [23]:
#f.
x = "Cats come from tiger family"
x[5:10]

'come '

In [25]:
x = "Cats come from tiger family"
x[-22:-17]

'come '

In [27]:
#g.
x = "Cats come from tiger family"
for i in x:
  print(i)

C
a
t
s

c
o
m
e

f
r
o
m

t
i
g
e
r

f
a
m
i
l
y

In [28]:
#h.
x = "Cats come from tiger family"
len(x)

27

##List

In [ ]:
'''
Upto now variable was carrying a single value.

So, what if we want to assign group of all possible values for variable at once, this datatype is called List.
Always lists are in [] square bracket
--> A List can be anything.
--> A List can have only strings.
--> A List can also have combination of strings, numbers, and boolean values as well.
--> A List can have only numbers.
--> A List can have only boolean.
'''

In [2]:
x = ['apples','Mangos','oranges']
y = ['apples','Mangos',1,23,532,True,False]
z = [1,34,54,234,657,976]
w = [True,False,True]

In [3]:
type(x)

list

In [4]:
print (x)

['apples', 'Mangos', 'oranges']

In [5]:
len(x)

3

In [7]:
x[0]

'apples'

In [8]:
x[2]

'oranges'

In [9]:
x[-1]

'oranges'

In [ ]:
'''
Properties of a List:
--> Lists are mutable - it means we can add or delete elements in the list
--> Lists are always ordered - it means the order that we define in the list, the same order follows the entire sequence

In [3]:
for i in x:
  print(i)

apples
Mangos
oranges

In [4]:
for i in range(0, len(x)):
  print(x[i])

apples
Mangos
oranges

In [25]:
b = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [26]:
b.append("Pluto")
print(b) #.append is used to add elements to the list
         #list.append() takes exactly one argument

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [ ]:
'''
1. Write a python program to reverse a string "canvas"
2. Write a python program to count vowels and Consonant in a string : "Rome is city"
3. Write a python program to count number of letters in the string : "Covid10 is affected
   with SARS virus"
4. Write a python program to print count of numeric, upper, lower and special characters in the
   string : "@pyTh)nlobb!Y34"
'''

In [9]:
# 1. To reverse string
x = "Canvas"
print (x[::-1])

savnaC

In [4]:
# 2. To count vowels and consonants in a string

a = "Rome is city"
vowels = 0
consonants = 0
for i in range(0, len(a)):
    if (a[i] !=" "):
         if(a[i] == "a" or a[i] == "e" or a[i] == "i" or a[i] == "o" or a[i] == "u"
            or a[i] == "A" or a[i] == "E" or a[i] == "I" or a[i] == "O" or a[i] == "U"):

             vowels = vowels + 1
         else:
             consonants = consonants + 1

print ("Total vowels=", vowels)
print ("Total consonants=", consonants)

Total vowels= 4
Total consonants= 6

In [17]:
# 3. To count number of letters in the string

x = "Covid10 is affected with SARS virus"
digits = 0
letters = 0
for i in range(0, len(x)):
    if (x[i] !=" "):
         if(x[i] == "0" or x[i] == "1" or x[i] == "2" or x[i] == "3" or x[i] == "4"
            or x[i] == "5" or x[i] == "6" or x[i] == "7" or x[i] == "8" or x[i] == "9"):

             digits = digits + 1
         else:
             letters = letters + 1

print ("Total digits=", digits)
print ("Total letters=", letters)

Total digits= 2
Total letters= 28

In [2]:
# 4. To print count of numeric, upper, lower and special characters in the string

x = "@pyTh)nlobb!Y34"

Numeric_Count = 0
Upper_Count = 0
Lower_Count = 0
Special_Count = 0

for characters in x:
  if characters.islower():
    Lower_Count = Lower_Count + 1
  elif characters.isupper():
    Upper_Count = Upper_Count + 1
  elif characters.isnumeric():
    Numeric_Count = Numeric_Count + 1
  else:
    Special_Count = Special_Count + 1

print ("Numeric_Count=", Numeric_Count)
print ("Upper_Count =", Upper_Count)
print ("Lower_Count =", Lower_Count)
print ("Special_Count =", Special_Count)

Numeric_Count= 2
Upper_Count = 2
Lower_Count = 8
Special_Count = 3